<navbar></navbar>
<search></search>

<div class="container">
    <input class="input" style="background-color: rgb(150, 139, 139);" type="text" #id (keyup)="myFunc(id.value)">
       <hooks [MyInput]="child"></hooks>  
    
    </div>



    <app-destroy></app-destroy>
 
   <do-check></do-check>

<br>
   <div class="container">
    <button type="button" style="background-color: rgb(123, 125, 125);" (click)="Func()">Parent Button </button>
     <after-content>
        <h2>{{content}}</h2>
     </after-content>
     <after-content>
     <h2>Box 2</h2>
     </after-content>
     <after-content>
      <h2>Box 3</h2>
     </after-content>

     <div class="container">
      <button type="button" (click)="view()">click</button>
      <h2>{{demo}}</h2>
      <afterview></afterview>
     </div>
  
    <!-- fetch data using httpclient -->
    <!-- <div *ngFor="let post of posts">
        <h2>{{post.title}}</h2>
         <p>{{post.body}}</p> 
    </div> -->
    
    <!-- <h2>Observable in Angular </h2>
    <div class="data-list" *ngFor="let x of data">
        {{x}}
    </div>

<button class="btn " (click)="GetAsyncData()">bbb</button>

</div>
<rxjs></rxjs>
<post></post> -->
<router-outlet></router-outlet>



